$colors: (
  primary: #4287f5,
  secondary: rgb(202, 202, 202),
  dark: #333,
  danger: #d34545,
  success: rgb(52, 174, 52),
  warning: rgb(255, 174, 0),
  spinner: rgba(51, 51, 51, 0.5),
  bg-loader: rgba(211, 211, 211, 0.5),
  light-dark-night: lighten(#333, 15%),
  light-dark: lighten(#333, 10%),
  light-night: lighten(#333, 20%),
  main: rgba(0, 0, 0, 0.1),
  accent: rgba(255, 255, 255, 0.7),
  main-solid: rgb(230, 230, 230),
  bg-danger: rgba(241, 42, 42, 0.2),
);
%main-background {
  background-image: repeating-linear-gradient(
      135deg,
      rgba(0, 0, 0, 0.03) 0px,
      rgba(0, 0, 0, 0.03) 1px,
      transparent 1px,
      transparent 31px,
      rgba(0, 0, 0, 0.03) 31px,
      rgba(0, 0, 0, 0.03) 32px,
      transparent 32px,
      transparent 92px
    ),
    repeating-linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.03) 0px,
      rgba(0, 0, 0, 0.03) 1px,
      transparent 1px,
      transparent 31px,
      rgba(0, 0, 0, 0.03) 31px,
      rgba(0, 0, 0, 0.03) 32px,
      transparent 32px,
      transparent 92px
    ),
    repeating-linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.03) 0px,
      rgba(0, 0, 0, 0.03) 1px,
      transparent 1px,
      transparent 31px,
      rgba(0, 0, 0, 0.03) 31px,
      rgba(0, 0, 0, 0.03) 32px,
      transparent 32px,
      transparent 92px
    ),
    linear-gradient(90deg, hsl(344, 0%, 100%), hsl(344, 0%, 100%));
}
$transitions: (
  sudden: 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275),
  smooth: 0.25s ease,
  spin: 1s linear infinite,
);

@function getColor($color-name) {
  @return map-get($colors, $color-name);
}
@function getTransition($transition-name) {
  @return map-get($transitions, $transition-name);
}

.wrapper {
  width: 1300px;
  max-width: 100%;
  padding: 60px 50px 20px 50px;
  margin: 0 auto;
  background-color: white;
  min-height: 100vh;
}

.main {
  display: flex;
  min-height: 100vh;
  position: relative;
  &__bg-content {
    width: 50%;
    @extend %main-background;
  }
  &__bg-background {
    width: 50%;
    background-image: radial-gradient(
        circle at top left,
        rgba(218, 67, 67, 0.3) 23%,
        rgba(228, 195, 46, 0.4) 23%,
        rgba(225, 50, 207, 0.3) 55%,
        rgba(181, 40, 40, 0.5) 55%,
        rgba(231, 225, 55, 0.4) 80%,
        rgba(202, 41, 223, 0.3) 80%,
        rgba(216, 30, 98, 0.3) 86%,
        rgba(213, 30, 91, 0.4) 86%,
        rgba(218, 41, 135, 0.3) 96%,
        rgba(154, 20, 98, 0.5) 96%,
        rgba(196, 20, 20, 0.3) 100%
      ),
      linear-gradient(135deg, rgba(169, 23, 23, 0.4), rgba(233, 172, 41, 0.4));
  }
  &__container-content {
    position: absolute;
    width: 1300px;
    max-width: 100%;
    padding: 48px 50px 20px 50px;
    min-height: 100vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
  }
  &__content {
    width: 50%;
    padding: 0px 20px;
    padding-right: 7vw;
    min-height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    // border: 1px solrgb(39, 15, 15)rey;
    // border-left: none;
    // border-right: none;
  }
  &__title {
    display: flex;
    padding: 5px;
    border-radius: 4px;
    align-items: center;
    font-size: 3em;
    background-color: getColor(bg-loader);
  }
  &__name {
    margin-left: 15px;
  }
  &__icon {
    font-size: 1.2em;
  }
  &__paragraph {
    position: relative;
    font-size: 1.5em;
    right: 30px;
    line-height: 30px;
    border-left: 1px solid lightgrey;
    padding-left: 30px;
  }
  &__container-btns {
    display: flex;
    width: 300px;
    justify-content: space-between;
  }
  &__bg-img {
    width: 50%;
    padding: 0px 20px;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: scale(1.2) translateX(-30px);
    filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.8));
  }
}
.auth-form {
  width: 400px;
  padding-bottom: 20px;
  position: absolute;
  max-width: 100%;
  border-radius: 5px;
  transition: getTransition(sudden);
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2), 0px 14px 15px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  z-index: 8;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  background-color: getColor(accent);
  .field {
    visibility: hidden;
  }
  &--open {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
    .field {
      visibility: visible;
    }
  }
  &__title {
    font-size: 2em;
    text-align: center;
    margin-bottom: 15px;
    color: white;
    font-weight: normal;
    border: 1px solid getColor(secondary);
    padding: 13px 20px;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: getColor(main);
    backdrop-filter: blur(4px);
    position: relative;
  }
  &__container-fields {
    padding: 0px 20px;
  }
  &__btn-handler {
    display: none;
  }
  &__container-btns {
    width: 248px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 10px;
  }
  &__loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    transition: getTransition(smooth);
    background-color: getColor(bg-loader);
    opacity: 0;
    visibility: hidden;
    border-radius: 5px;
    backdrop-filter: blur(4px);
    &--active {
      opacity: 1;
      visibility: visible;
    }
  }
  &__spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 10px double rgba(255, 255, 255, 0.489);
    border-left-color: getColor(spinner);
    animation: spin getTransition(spin);
    width: 100px;
    height: 100px;
  }
  &__btn {
    position: absolute !important;
    top: 4px;
    right: 4px;
    padding: 5px !important;
    font-size: 0.5em;
    // border: 1px solid getColor(secondary);
    // border-radius: 50% !important;
    // background-color: white;
    box-shadow: none !important;
  }
  @keyframes spin {
    from {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 4px;
  transition: getTransition(smooth);
  position: relative;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05), 0px 4px 5px rgba(0, 0, 0, 0.1);
  &__name,
  &__icon {
    margin: 0px 5px;
  }
  &__msg {
    position: absolute;
    background-color: getColor(dark);
    color: white;
    z-index: 4;
    width: 100px;
    font-size: 0.8em;
    padding: 5px;
    border-radius: 4px;
    text-align: center;
    transition: getTransition(sudden);
    top: -35px;
    visibility: hidden;
    opacity: 0;
    transform: translate(0, -20%);
  }
  &__triangle {
    position: absolute;
    width: 0px;
    height: 0px;
    border: 8px solid transparent;
    border-top-color: getColor(dark);
    transform: translateX(-50%);
    bottom: -16px;
    left: 50%;
  }
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05), 0px 3px 3px rgba(0, 0, 0, 0.1);
  }
  &:active {
    box-shadow: none;
    transform: scale(0.95);
  }
}
.btn-primary {
  color: white;
  background-color: getColor(primary);
}
.btn-simple {
  background-color: white;
  border: 1px solid getColor(secondary);
  box-shadow: none;
}
.btn-succcess {
  background-color: getColor(success);
  color: white;
}
.btn-warning {
  background-color: getColor(warning);
  color: white;
}
.btn-danger {
  background-color: getColor(danger);
  color: white;
}
.btn-disabled {
  background-color: getColor(main);
  color: white;
  box-shadow: none;
  &:hover {
    box-shadow: none;
    .btn__msg {
      visibility: visible;
      opacity: 1;
      transform: translate(0, 0%);
    }
  }
  &:active {
    transform: none;
  }
}
.link {
  text-decoration: none;
  color: getColor(dark);
  border: 1px solid getColor(secondary);
  box-shadow: none;
  background-color: white;
}

.field {
  display: block;
  margin-bottom: 15px;
  transition: getTransition(smooth);
  height: 66.38px;
  position: relative;
  visibility: visible;
  opacity: 1;
  z-index: 2;

  &--close {
    margin: 0;
    height: 0;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transform: scale(0.6);
  }
  &__container-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 0;
  }
  &__name {
    text-transform: capitalize;
  }
  &__container-msg {
    position: relative;
    display: flex;
    cursor: pointer;
    transition: getTransition(smooth);
    opacity: 1;
    visibility: visible;

    &:hover {
      .field__msg {
        visibility: visible;
        opacity: 1;
        transform: translate(0%, -50%);
      }
    }
    &--close {
      opacity: 0;
      visibility: hidden;
    }
  }
  &__icon {
    margin: auto;
    color: getColor(danger);
  }
  &__info-icon {
    color: getColor(dark);
  }
  &__msg {
    position: absolute;
    background-color: getColor(dark);
    color: white;
    width: 100px;
    font-size: 0.8em;
    padding: 5px;
    border-radius: 4px;
    right: 26px;
    text-align: center;
    transition: getTransition(sudden);
    top: 50%;
    visibility: hidden;
    opacity: 0;
    transform: translate(-20%, -50%);
  }
  &__triangle {
    position: absolute;
    width: 0px;
    height: 0px;
    border: 8px solid transparent;
    border-left-color: getColor(dark);
    transform: translateY(-50%);
    right: -16px;
    top: 50%;
  }
  &__msg-info {
    width: 130px;
    z-index: 10;
  }
  %field {
    width: 100%;
    transition: getTransition(smooth);
    padding: 7px;
    border: none;
    border: 1px solid getColor(secondary);
    border-radius: 4px;
    background-color: white;
    outline-color: grey;
  }
  &__input {
    @extend %field;
    &--warning {
      border-color: getColor(danger);
    }
  }
  &__textarea {
    resize: none;
    min-height: 21vh;
    max-height: 21vh;
    width: 100%;
    @extend %field;
  }
  &__select {
    width: 50%;
    background-color: getColor(primary);
    color: white;
    padding: 0px 10px;
  }
  &__option {
    background-color: white;
    color: getColor(dark);
  }
  &__label-file {
    width: 50%;
    background-color: getColor(primary);
    color: white;
    cursor: pointer;
  }
  &__input-handler {
    display: none;
  }
}
.field-select {
  display: flex;
  height: auto;
  height: 44px;
  opacity: 1;
  visibility: visible;
  transform: scale(1);

  &--close {
    opacity: 0;
    height: 0;
    visibility: hidden;
    margin: 0;
    transform: scale(0.7);
    .field__container-msg {
      visibility: hidden;
    }
  }
  .field__container-info {
    width: 50%;
    padding: 0px 10px;
    border: 1px solid getColor(secondary);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
}
.field-custom-height {
  height: auto !important;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: getColor(dark);
  z-index: 8;
  &__menu {
    width: 1400px;
    padding: 0px 50px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
  &__link {
    color: getColor(secondary);
    text-decoration: none;
    padding: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: getTransition(smooth);
    background-color: getColor(dark);
    // border-left: 1px solid getColor(light-dark-night);
    // border-right: 1px solid transparent;
    &:hover {
      color: white;
    }
    &--active {
      background-color: getColor(light-dark);
      color: white;
    }
  }
  &__logo-link {
    padding: 4px 10px;
    margin-right: auto;
    border: none;
    &:hover {
      color: getColor(secondary);
    }
  }
  &__logo {
    font-size: 1.9em;
  }
  &__link-name {
    margin-left: 7px;
  }
  &__search {
    // width: 500px;
    flex: 1;
    // max-width: 100%;
    display: flex;
    margin: 0px 10px;
    // margin-right: auto;
    border-radius: 4px;
    overflow: hidden;
  }
  &__search-input {
    flex: 1;
    padding: 4px 7px;
    border: none;
    background-color: getColor(light-night);
    color: white;
    outline-width: 1px;
    outline-color: grey;
    &::placeholder {
      color: lightgrey;
    }
  }
  &__search-btn {
    width: 30px;
    height: 30px;
    display: flex;
    background-color: getColor(light-night);
    color: lightgrey;
    & > * {
      margin: auto;
    }
  }
  &__container-drop {
    position: relative;
  }
  &__btn {
    padding: 8px 10px;
    .nav__link-name {
      max-width: 100px;
      overflow: hidden;
      height: 22px;
    }
  }
  &__container-img {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__drop-menu {
    right: 0;
    width: 150px;
    position: absolute;
    background-color: getColor(dark);
    transition: getTransition(smooth);
    // border-top: 1px solid getColor(light-dark-night);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-30%) scale(0.9);
    z-index: -1;
    &--open {
      opacity: 1;
      visibility: visible;
      transform: translateY(0%) scale(1);
    }
    .nav__link {
      width: 100%;
      // border-left: none !important;
      // border-bottom: 1px solid getColor(light-dark-night);
    }
  }
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: getColor(spinner);
  visibility: hidden;
  transition: getTransition(smooth);
  opacity: 0;
  z-index: 7;
  &--active {
    visibility: visible;
    opacity: 1;
  }
}
.title {
  position: relative;
  z-index: 5;
  &__container-name {
    font-size: 1.4em;
    border-bottom: 1px solid getColor(secondary);
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    font-weight: bold;
  }
  &__icon {
    margin: 0px 5px;
  }
  &__name {
    margin-left: 7px;
  }
  &__description {
    display: inline-block;
    color: grey;
    border: 1px solid getColor(secondary);
    padding: 5px;
    border-top: none;
    font-size: 0.85em;
    background-color: getColor(main-solid);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
}
.title-simple {
  .title__container-name {
    border-bottom-color: transparent;
  }
  .title__description {
    border-top: 1px solid getColor(secondary);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 0px;
  }
}
.form {
  display: flex;
  margin-top: -29.5px;
  // border-radius: 7px;
  // overflow: hidden;
  // box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), 0px 12px 15px rgba(0, 0, 0, 0.1);
  &__main-side {
    width: 50%;
    padding: 20px;
    padding-top: 40px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    border: 1px solid getColor(secondary);
    background-color: getColor(main);
  }
  &__container-fields {
  }
  &__btn-handler {
    display: none;
  }
  &__container-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 220px;
    padding-top: 10px;
  }
  &__bg-side {
    width: 50%;
    border: 1px solid getColor(secondary);
    border-left: none;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
  }
  &__image {
    width: 100%;
    height: 100%;
    transform: scale(0.9);
    filter: drop-shadow(0px 7px 8px rgba(0, 0, 0, 0.3));
  }
}

.categories {
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 250px);
  grid-column-gap: 15px;
  grid-row-gap: 30px;
  &__link {
    position: relative;
    border-radius: 4px;
    transition: getTransition(smooth);
    overflow: hidden;
    border: 1px solid getColor(secondary);
    &:hover {
      transform: scale(1.1);
      z-index: 5;
      box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.1),
        0px 6px 7px rgba(0, 0, 0, 0.1);
    }
    &:active {
      transform: scale(0.9);
      box-shadow: none;
    }
  }
  &__name {
    position: absolute;
    display: block;
    width: 100%;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: 2;
    text-align: center;
    transition: getTransition(smooth);
    color: getColor(dark);
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px 0;
    border-top: 1px solid getColor(secondary);
    background-color: getColor(main);
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border: 10px solid white;
    border-bottom: 40px solid white;
    // filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.1));
    background-color: getColor(main);
    border-radius: 5px;
  }
}

.announc {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
  margin-top: 15px;
  text-align: center;

  &__link {
    text-decoration: none;
    transition: getTransition(smooth);
    border: 1px solid getColor(secondary);
    color: getColor(dark);
    border-radius: 5px;
    // box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05), 0px 4px 5px rgba(0, 0, 0, 0.1);
    &:hover {
      box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1), 0px 6px 8px rgba(0, 0, 0, 0.1);
      transform: scale(1.05);
    }
    &:active {
      transform: scale(0.9);
      box-shadow: none;
    }
  }
  &__container-img {
    height: 250px;
    position: relative;
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 13px;
  }
  &__plug-image {
    color: getColor(secondary);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__plug-name {
  }
  &__plug-icon {
    font-size: 6em;
  }
  &__container-title {
    padding: 10px 15px;
    // color: getColor(dark);
    height: 64px;
    overflow: hidden;
    border-top: 1px solid getColor(secondary);
    background-color: getColor(main);
  }
  &__price {
    top: 0;
    right: 0;
    padding: 5px;
  }
  &__grivna-sign {
    color: grey;
  }
  &__price,
  &__date {
    position: absolute;
    z-index: 3;
    position: absolute;
    border: 3px solid white;
    border-radius: 4px;
    background-color: lighten(getColor(secondary), 7%);
  }
  &__title {
  }
  &__date {
    bottom: 0px;
    left: 0px;
    font-size: 0.7em;
    padding: 4px;
  }
}

.details-ad {
  display: flex;
  margin-top: -29.5px;
  &__container-imgs {
    width: 55%;
    border: 1px solid getColor(secondary);
    border-right: none;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    // box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1), 0px 10px 12px rgba(0, 0, 0, 0.1);
  }
  &__container-preview {
    height: 65vh;
    position: relative;
  }
  &__preview-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: scale(0.85);
    // border-radius: 5px;
    // overflow: hidden;
    // // border: 1px solid getColor(secondary);
  }
  &__move-btn {
    position: absolute;
    z-index: 3;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2em;
    background-color: rgba(255, 255, 255, 0.7);
    height: 90px;
    width: 40px;
    line-height: 96px;
    transition: getTransition(smooth);
    border: 1px solid getColor(secondary);
  }
  &__left-btn {
    left: 0;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-left: none;
    &:hover {
      transform: translate(4px, -50%) scale(1.2);
    }
    &:active {
      transform: translate(-1px, -50%) scale(0.9);
    }
  }
  &__right-btn {
    right: 0;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-right: none;
    &:hover {
      transform: translate(-4px, -50%) scale(1.2);
    }
    &:active {
      transform: translate(1px, -50%) scale(0.9);
    }
  }
  &__imgtabs {
    display: flex;
    border-top: 1px solid getColor(secondary);
    background-color: getColor(main);
    height: 161px;
  }
  &__container-imgtabs {
    margin: auto;
    width: 550px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__container-info {
    width: 45%;
    padding: 20px;
    background-color: getColor(main);
    position: relative;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    // border-radius: 5px;
    // box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.1), 0px 4px 8px rgba(0, 0, 0, 0.1),
    //   0px 12px 15px rgba(0, 0, 0, 0.1);
    border: 1px solid getColor(secondary);
    // border-left: none;
    // box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1), 0px 10px 12px rgba(0, 0, 0, 0.1);
  }
  &__tab-btn {
    height: 100px;
    width: 18%;
    border: 1px solid getColor(secondary);
    transition: getTransition(smooth);
    border-radius: 4px;
    margin-left: 10px;
    overflow: hidden;
    padding: 5px;
    background-color: white;
    &--active {
      transform: scale(1.1);
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1), 0px 3px 5px rgba(0, 0, 0, 0.2);
    }
    &:first-child {
      margin-left: 0px;
    }
  }
  &__tab-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__title {
    font-size: 1.3em;
    // font-weight: bold;
    // text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    // height: 60px;
    // overflow-y: auto;
    border-radius: 4px;
    // border: 5px solid white;
    // background-color: white;
  }
  &__container-price {
    display: flex;
    margin-bottom: 15px;
  }
  &__btn-message {
    width: 50%;
  }
  &__price {
    width: 50%;
    text-align: center;
    font-size: 1.3em;
    line-height: 50px;
    // border: 1px solid lightgrey;
    margin-left: 13px;
    border-radius: 4px;
    // background-color: white;
    // border: 1px solid white;
    // background-color: rgba(255, 255, 255, 0.5);
    // border: 5px solid white;
    background-color: getColor(accent);
    // box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.3),
    //   inset 0px 0px 7px rgba(0, 0, 0, 0.15);
  }
  &__description-title {
    font-size: 1.1em;
    margin-bottom: 5px;
  }
  &__description {
    padding: 10px;
    font-size: 1.05em;
    // border: 1px solid white;
    // width: 109%;
    // border: 5px solid white;
    // box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2), 0px 1px 4px rgba(0, 0, 0, 0.2),
    //   0px 6px 6px rgba(0, 0, 0, 0.1);
    height: 25vh;
    // overflow-x: hidden;
    overflow-y: auto;
    white-space: pre-wrap;
    margin-bottom: 15px;
    border-radius: 4px;
    background-color: getColor(accent);
    // border: 5px solid white;
    // background-color: getColor(accent);
    // box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.3),
    //   inset 0px 0px 7px rgba(0, 0, 0, 0.15);
    &::-webkit-scrollbar {
      width: 0.7em;
      overflow: hidden;
    }
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);

      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: darkgrey;
      outline: 1px solid slategrey;

      border-radius: 5px;
    }
  }
  &__extra-info {
  }
  &__container-row-info {
    display: flex;
    margin-bottom: 25px;
  }
  &__column-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    &:first-child {
      margin-right: 13px;
      // border: none;
    }
  }
  &__column-title,
  &__column-content {
    text-align: center;
    display: block;
    padding: 5px 0;
    // height: 100%;
  }
  &__column-title {
    // background-color: getColor(secondary);
  }
  &__column-content {
    // background-color: white;
    padding: 15px 0;
    border-radius: 4px;
    text-decoration: none;
  }
  &__date {
    // border: 1.3px dashed lightgrey;
    background-color: getColor(accent);
    padding: 15px 0;
    // border: 5px solid white;
  }
  &__container-row-user {
    // position: absolute;
    // bottom: 20px;
    display: flex;
    width: 108%;
    padding: 10px;
    border-radius: 4px;
    border: 5px solid white;
    align-items: center;
    background-image: linear-gradient(
      135deg,
      rgb(71, 188, 214),
      rgb(213, 73, 73)
    );
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2), 0px 1px 4px rgba(0, 0, 0, 0.2),
      0px 6px 6px rgba(0, 0, 0, 0.1);
  }
  &__container-ava {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;

    &:hover {
      .details-ad__ava {
        transform: scale(1.2);
      }
    }
  }
  &__ava {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: getTransition(smooth);
  }
  &__container-user-info {
    padding: 5px 10px;
    margin-left: 10px;
    flex: 1;
    border-radius: 4px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 10px;
  }
  &__username {
    display: inline-block;
    color: white;
    text-decoration: none;
    // padding: 5px 0;
    // border: 1px solid lightgrey;
    margin-bottom: 10px;
  }
  &__typeUser {
    display: flex;
    justify-content: center;
    font-size: 0.85em;
  }
  &__label-user-type {
    margin-left: 5px;
    text-transform: capitalize;
    color: white;
  }
  &__label-icon-type {
    border-radius: 50%;
    border: 1px solid white;
    width: 20px;
    height: 20px;
    padding: 2px;
    color: white;
  }
  &__btn-user {
    padding: 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 0.9em;
  }
  &__btn-edit {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 53px;
    text-align: center;
    top: -25px;
    left: -25px;
    position: absolute;
    transition: getTransition(smooth);
    z-index: 5;
    &:hover {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05),
        0px 3px 3px rgba(0, 0, 0, 0.1);
    }
    &:active {
      box-shadow: none;
      transform: scale(0.9);
    }
  }
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 8;
  background-color: getColor(main-solid);
  width: 350px;
  max-width: 100%;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2), 0px 14px 15px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  transition: getTransition(sudden);
  transform: translate(-50%, -50%) scale(0.8);
  &--active {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
  }
  &__container-info {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    align-items: center;
    border: 1px solid getColor(danger);
    padding: 20px;
    background-color: getColor(bg-danger);
  }
  &__icon {
    font-size: 3.4em;
    color: getColor(accent);
  }
  &__title {
    color: getColor(accent);
    margin-bottom: 20px;
  }
  &__description {
    padding: 5px 0;
  }
  &__container-bts {
    display: flex;
    width: 220px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }
}
