$colors: (
  primary: #4287f5,
  secondary: #eeee,
  dark: #333,
  danger: #e50909,
  spinner: rgba(51, 51, 51, 0.5),
  bg-loader: rgba(211, 211, 211, 0.5),
  light-dark-night: lighten(#333, 15%),
  light-dark: lighten(#333, 10%),
  light-night: lighten(#333, 20%),
);
$transitions: (
  sudden: 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275),
  smooth: 0.25s ease,
  spin: 1s linear infinite,
);

@function getColor($color-name) {
  @return map-get($colors, $color-name);
}
@function getTransition($transition-name) {
  @return map-get($transitions, $transition-name);
}

.wrapper {
  width: 1200px;
  max-width: 100%;
  padding: 68px 50px 20px 50px;
  margin: 0 auto;
  background-color: white;
  min-height: 100vh;
}

.main {
  display: flex;
  min-height: 100vh;
  position: relative;
  &__bg-content {
    width: 50%;
    background-image: repeating-linear-gradient(
        135deg,
        rgba(0, 0, 0, 0.03) 0px,
        rgba(0, 0, 0, 0.03) 1px,
        transparent 1px,
        transparent 31px,
        rgba(0, 0, 0, 0.03) 31px,
        rgba(0, 0, 0, 0.03) 32px,
        transparent 32px,
        transparent 92px
      ),
      repeating-linear-gradient(
        45deg,
        rgba(0, 0, 0, 0.03) 0px,
        rgba(0, 0, 0, 0.03) 1px,
        transparent 1px,
        transparent 31px,
        rgba(0, 0, 0, 0.03) 31px,
        rgba(0, 0, 0, 0.03) 32px,
        transparent 32px,
        transparent 92px
      ),
      repeating-linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.03) 0px,
        rgba(0, 0, 0, 0.03) 1px,
        transparent 1px,
        transparent 31px,
        rgba(0, 0, 0, 0.03) 31px,
        rgba(0, 0, 0, 0.03) 32px,
        transparent 32px,
        transparent 92px
      ),
      linear-gradient(90deg, hsl(344, 0%, 100%), hsl(344, 0%, 100%));
  }
  &__bg-background {
    width: 50%;
    background-image: radial-gradient(
        circle at top left,
        rgba(218, 67, 67, 0.3) 23%,
        rgba(228, 195, 46, 0.4) 23%,
        rgba(225, 50, 207, 0.3) 55%,
        rgba(181, 40, 40, 0.5) 55%,
        rgba(231, 225, 55, 0.4) 80%,
        rgba(202, 41, 223, 0.3) 80%,
        rgba(216, 30, 98, 0.3) 86%,
        rgba(213, 30, 91, 0.4) 86%,
        rgba(218, 41, 135, 0.3) 96%,
        rgba(154, 20, 98, 0.5) 96%,
        rgba(196, 20, 20, 0.3) 100%
      ),
      linear-gradient(135deg, rgba(169, 23, 23, 0.4), rgba(233, 172, 41, 0.4));
  }
  &__container-content {
    position: absolute;
    width: 1200px;
    max-width: 100%;
    padding: 48px 50px 20px 50px;
    min-height: 100vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
  }
  &__content {
    width: 50%;
    padding: 0px 20px;
    padding-right: 7vw;
    min-height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid lightgrey;
    border-left: none;
    border-right: none;
  }
  &__title {
    display: flex;
    padding: 5px;
    border-radius: 4px;
    align-items: center;
    font-size: 3em;
    background-color: getColor(bg-loader);
  }
  &__name {
    margin-left: 15px;
  }
  &__icon {
    font-size: 1.2em;
  }
  &__paragraph {
    position: relative;
    font-size: 1.5em;
    right: 30px;
    line-height: 30px;
    border-left: 1px solid lightgrey;
    padding-left: 30px;
  }
  &__container-btns {
    display: flex;
    width: 290px;
    justify-content: space-between;
  }
  &__bg-img {
    width: 50%;
    padding: 0px 20px;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: scale(1.35);
    filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.8));
  }
}
.auth-form {
  background-color: white;
  width: 400px;
  padding: 20px;
  position: absolute;
  max-width: 100%;
  border-radius: 5px;
  transition: getTransition(sudden);
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2), 0px 14px 15px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  z-index: 8;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  .field {
    visibility: hidden;
  }
  &--open {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
    .field {
      visibility: visible;
    }
  }
  &__title {
    font-size: 2em;
    text-align: center;
    margin-bottom: 10px;
    font-weight: normal;
  }
  &__container-fields {
  }
  &__btn-handler {
    display: none;
  }
  &__container-btns {
    width: 248px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 15px;
  }
  &__loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    transition: getTransition(smooth);
    background-color: getColor(bg-loader);
    opacity: 0;
    visibility: hidden;
    &--active {
      opacity: 1;
      visibility: visible;
    }
  }
  &__spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 10px double rgba(255, 255, 255, 0.489);
    border-left-color: getColor(spinner);
    animation: spin getTransition(spin);
    width: 100px;
    height: 100px;
  }
  @keyframes spin {
    from {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 4px;
  transition: getTransition(smooth);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05), 0px 4px 5px rgba(0, 0, 0, 0.1);
  &__name,
  &__icon {
    margin: 0px 5px;
  }
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05), 0px 3px 3px rgba(0, 0, 0, 0.1);
  }
  &:active {
    box-shadow: none;
    transform: scale(0.9);
  }
}
.btn-primary {
  color: white;
  background-color: getColor(primary);
}
.btn-simple {
  background-color: getColor(secondary);
}
.link {
  text-decoration: none;
  color: getColor(dark);
  border: 1px solid lightgrey;
  box-shadow: none;
  background-color: white;
}

.field {
  display: block;
  margin-bottom: 15px;
  transition: getTransition(smooth);
  height: 66.38px;
  position: relative;
  visibility: visible;
  opacity: 1;
  z-index: 2;
  &--close {
    margin: 0;
    height: 0;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transform: scale(0.6);
  }
  &__container-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 0;
  }
  &__name {
    text-transform: capitalize;
  }
  &__container-msg {
    position: relative;
    display: flex;
    cursor: pointer;
    transition: getTransition(smooth);
    opacity: 1;
    visibility: visible;
    &:hover {
      .field__msg {
        visibility: visible;
        opacity: 1;
        transform: translate(0%, -50%);
      }
    }
    &--close {
      opacity: 0;
      visibility: hidden;
    }
  }
  &__icon {
    margin: auto;
    color: getColor(danger);
  }
  &__info-icon {
    color: getColor(dark);
  }
  &__msg {
    position: absolute;
    background-color: getColor(dark);
    color: white;
    width: 100px;
    font-size: 0.8em;
    padding: 5px;
    border-radius: 4px;
    position: realtive;
    right: 26px;
    text-align: center;
    transition: getTransition(sudden);
    top: 50%;
    visibility: hidden;
    opacity: 0;
    transform: translate(-20%, -50%);
  }
  &__triangle {
    position: absolute;
    width: 0px;
    height: 0px;
    border: 8px solid transparent;
    border-left-color: getColor(dark);
    transform: translateY(-50%);
    right: -16px;
    top: 50%;
  }
  &__msg-info {
    width: 130px;
    z-index: 10;
  }
  %field {
    width: 100%;
    transition: getTransition(smooth);
    padding: 7px;
    border: 1.2px solid lightgrey;
    border-radius: 4px;
    background-color: getColor(secondary);
    outline-color: grey;
  }
  &__input {
    @extend %field;
    &--warning {
      border-color: getColor(danger);
    }
  }
  &__textarea {
    min-height: 150px;
    resize: vertical;
    max-height: 200px;
    width: 100%;
    @extend %field;
  }
  &__select {
    width: 50%;
    background-color: getColor(primary);
    color: white;
    padding: 10px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  &__option {
    background-color: white;
    color: getColor(dark);
  }
  &__label-file {
    width: 50%;
    background-color: getColor(primary);
    color: white;
    padding: 11px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
  }
  &__input-handler {
    display: none;
  }
}
.field-select {
  display: flex;
  height: auto;
  height: 44px;
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  &--close {
    opacity: 0;
    height: 0;
    visibility: hidden;
    margin: 0;
    transform: scale(0.7);
    .field__container-msg {
      visibility: hidden;
    }
  }
  .field__container-info {
    width: 50%;
    padding: 0px 10px;
    border: 1px solid lightgrey;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
}
.field-custom-height {
  height: auto !important;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: getColor(dark);
  z-index: 8;
  &__menu {
    width: 1300px;
    padding: 0px 50px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
  &__link {
    color: getColor(secondary);
    text-decoration: none;
    padding: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: getTransition(smooth);
    background-color: getColor(dark);
    border-left: 1px solid getColor(light-dark-night);
    border-right: 1px solid transparent;
    &:hover {
      color: white;
    }
    &--active {
      background-color: getColor(light-dark);
      color: white;
    }
  }
  &__logo-link {
    padding: 4px 10px;
    margin-right: auto;
    border: none;
    &:hover {
      color: getColor(secondary);
    }
  }
  &__logo {
    font-size: 1.9em;
  }
  &__link-name {
    margin-left: 7px;
  }
  &__search {
    // width: 500px;
    flex: 1;
    // max-width: 100%;
    display: flex;
    margin: 0px 10px;
    // margin-right: auto;
    border-radius: 4px;
    overflow: hidden;
  }
  &__search-input {
    flex: 1;
    padding: 4px 7px;
    border: none;
    background-color: getColor(light-night);
    color: white;
    outline-width: 1px;
    outline-color: grey;
    &::placeholder {
      color: lightgrey;
    }
  }
  &__search-btn {
    width: 30px;
    height: 30px;
    display: flex;
    background-color: getColor(light-night);
    color: lightgrey;
    & > * {
      margin: auto;
    }
  }
  &__container-drop {
    position: relative;
  }
  &__btn {
    padding: 8px 10px;
    .nav__link-name {
      max-width: 70px;
      overflow: hidden;
      height: 22px;
    }
  }
  &__container-img {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__drop-menu {
    right: 0;
    width: 150px;
    position: absolute;
    background-color: getColor(dark);
    transition: getTransition(smooth);
    border-top: 1px solid getColor(light-dark-night);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-30%) scale(0.9);
    z-index: -1;
    &--open {
      opacity: 1;
      visibility: visible;
      transform: translateY(0%) scale(1);
    }
    .nav__link {
      width: 100%;
      border-left: none !important;
      border-bottom: 1px solid getColor(light-dark-night);
    }
  }
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: getColor(bg-loader);
  visibility: hidden;
  transition: getTransition(smooth);
  opacity: 0;
  z-index: 7;
  &--active {
    visibility: visible;
    opacity: 1;
  }
}
.title {
  &__container-name {
    font-size: 1.5em;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
  }
  &__icon {
    font-size: 0.9em;
  }
  &__name {
    margin-left: 7px;
  }
  &__description {
    color: grey;
  }
}

.form {
  display: flex;
  margin-top: 15px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), 0px 12px 15px rgba(0, 0, 0, 0.1);
  &__main-side {
    width: 50%;
    padding: 20px;
  }
  &__container-fields {
  }
  &__btn-handler {
    display: none;
  }
  &__container-btns {
    display: flex;
    align-items: center;
  }
  &__bg-side {
    width: 50%;
    background-image: linear-gradient(
      135deg,
      rgba(251, 0, 255, 0.4),
      rgba(0, 218, 222, 0.4)
    );
  }
  &__image {
    width: 100%;
    height: 100%;
    transform: scale(0.8);
    filter: drop-shadow(0px 7px 8px rgba(0, 0, 0, 0.3));
  }
}

.categories {
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 30px;
  &__link {
    position: relative;
    border-radius: 4px;
    transition: getTransition(smooth);
    transform: scale(1);
    background-image: linear-gradient(
      135deg,
      rgba(51, 181, 201, 0.5),
      rgba(255, 21, 0, 0.5)
    );
    overflow: hidden;
    &:hover .categories__name {
      background-color: getColor(dark);
      color: white;
    }
    &:hover {
      transform: scale(1.1);
      z-index: 5;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1), 0px 5px 5px rgba(0, 0, 0, 0.1);
    }
    &:nth-child(even) {
      background-image: linear-gradient(
        135deg,
        rgba(168, 201, 51, 0.5),
        rgba(211, 35, 202, 0.5)
      );
    }
  }
  &__name {
    position: absolute;
    display: block;
    width: 100%;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: 2;
    text-align: center;
    transition: getTransition(smooth);
    color: getColor(dark);
    background-color: rgba(255, 255, 255, 0.7);
    padding: 2px 0;
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: scale(0.85);
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.8));
  }
}
