/* @import url("https://fonts.googleapis.com/css2?family=ABeeZee&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Tajawal&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* font-family: "ABeeZee", sans-serif; */
  font-family: "Tajawal", sans-serif;
  color: #333;
  background-color: #eeee;
}
select,
input,
button,
label {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
}
button,
select {
  border: none;
  outline: none;
  cursor: pointer;
}
